* {
    margin: 0;
    padding: 0; 
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

p, a, span {
    font-size: 1.3em;
    color: #fff;
}

.hide {
    display: none!important;
}


